*.gem
*.rbc
*.swp
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

.jbundler

.DS_Store

# Testing database
test.db

target
pom.xml.asc

#IntelliJ
.idea/
*.iml

Gemfile.head.lock

# maven
dependency-reduced-pom.xml
